*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-grey-dark;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}
